  h1  {
    color: #32cd32;
	background-color: #000;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: centre;
	font-family: "Lucida Console", Monaco, Monospace;
  }

  h2  {
    color: #32cd32;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: centre;
	font-family: "Lucida Console", Monaco, Monospace;
  }

  img {
      image-orientation: from-image;
  }

  p  {
    color: #32cd32;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: centre;
	font-family: "Lucida Console", Monaco, Monospace;
  }

	ul {
		color: #32cd32;
		font-size: 1em;
		margin-bottom: .3em;
		text-align: centre;
	font-family: "Lucida Console", Monaco, Monospace;
	}

	li {
		color: #32cd32;
		font-size: 1em;
		margin-bottom: .3em;
		text-align: centre;
	font-family: "Lucida Console", Monaco, Monospace;
	}

  em {
    color: #32cd32;
   	font-size: 1.5em;
	font-style: normal;
    margin-bottom: .3em;
    text-align: centre;
  	font-family: "Lucida Console", Monaco, Monospace;
}
  table {
    margin: .3em;
    width: 290px;
  }

  th {
    padding: .2em;
  }

  td {
    background-color: #ffc;
    border: 1px solid #900;
    padding-left: .5em;
    padding-right: .5em;
  }

  #trHeader {
    color: #900;
    text-decoration: underline;
  }

  .centerCell {
    text-align: center;
  }

  .topnav {
	  background-color: #000;
	  overflow: hidden;
	  font-family: "Lucida Console", Monaco, Monospace;
  }

  .topnav a {
	  float: left;
	  color: #32cd32;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
  }

  .topnav a:hover {
	  background-color: #fff;
	  color: #32cd32;
  }
  .topnav a.active {
	  background-color: #fff;
	  color: #32cd32;
  }
